.training-tabs{
    display: flex;
    flex-direction: column;
    .tabs-head-wrapper{
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
    }
}

/*Cources Card Block Start*/
.my-courses{
    background-color: var(--white-color);
    padding: 16px;
    box-shadow: 0 0 10px rgba(71, 120, 245, 0.1);
    border-radius: 16px;
    height: 100%;
    .course-card{
        .course-card-media {
            position: relative;
            .course-card-media-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(0,0,0,0.37);
                .play-button {
                    background: var(--white-color);
                    color: var(--primary-color);
                    border-radius: 30px;
                    width: 46px;
                    height: 46px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .course-content{
            h5{
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 16px;
            }
            .course-lessons, .course-progress{
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--primary-color);
                p{
                    margin: 0;
                    font-weight: 600;
                    color: var(--grey-color);
                }
            }
            .course-progress{
                margin-top: 16px;
                .course-progressbar{
                    flex: 1;
                }
            }
        }
        .card-action{
            button{
                text-transform: capitalize;
                font-size: 16px;
            }
            .overview-btn {
                padding: 0;
                border: 0;
                color: var(--dark-color);
                font-weight: 700;
                .MuiButton-icon {
                    margin-left: 10px;
                }
                &:hover{
                    color: var(--primary-color);
                }
            }
            .course-btn {
                background: var(--primary-color);
                font-weight: 700;
                border-radius: 12px;
                border: 0;
                .MuiButton-icon {
                    width: 14px;
                    margin-left: 10px;
                }
                &:hover{
                    background-color: var(--dark-color);
                }
            }
        }
    }
}

@media (max-width: 899px){
    .my-courses {
        padding: 12px;
        .course-card {
            .card-action {
                button {
                    font-size: 14px;
                }
                .overview-btn {
                    .MuiButton-icon {
                        margin-left: 5px;
                    }
                }
                .course-btn {
                    .MuiButton-icon {
                        margin-left: 5px;
                    }
                }
            }
            .course-content {
                h5 {
                    font-size: 20px;
                    line-height: 1.2;
                    margin-bottom: 10px;
                }
                .course-progress {
                    margin-top: 10px;
                }
            }
        }
    }
}
/*Cources Card Block End*/




/**/
.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    * {
        margin: 0 !important;
    }
}


/*Course Detail Page Start*/
/*Course Page Heading and Progress Start*/
.course-head-wrapper {
	background: var(--primary-color);
	padding: 24px;
	border-radius: 0 0 40px 40px;
	box-shadow: 0 0 22px 20px rgba(71, 120, 245, 0.1);
	.course-heading {
        max-width: 465px;
        .MuiButton-root {
            color: var(--white-color);
            justify-content: flex-start;
            padding: 0;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.25;
            .MuiButton-icon {
                rotate: 90deg;
            }
        }
        h4 {
            color: var(--white-color);
            font-size: 25px;
            font-weight: 600;
            margin-block: 32px 16px;
        }
        .course-progressbar {
            width: 315px;
            background: #C5D6FF;
            .MuiLinearProgress-bar {
                background-color: var(--white-color);
            }
        }
        .text-xl {
            color: var(--white-color);
            font-weight: 600;
        }
	}
}
/*Course Page Heading and Progress Start*/

.course-topics {
    padding: 16px;
    @media (min-width: 1440px){
        padding: 24px;
    }
    .next-btn{
        padding-inline: 40px;
        display: flex;
        margin-left: auto;
    }
    .course-main{
        background: #F8FAFF;
        border: 1px solid var(--select-border-color);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 12px !important;
        margin-top: 16px;
        overflow: hidden;
        &::before{
            display: none;
        }
        .course-list-heading {
            padding: 16px;
            align-items: flex-start;
            .MuiAccordionSummary-content{
                display: block;
                margin: 0;
            }
            h5{
                margin-right: 10px;
                font-weight: 600;
            }
            .course-overview {
                margin-top: 16px;
                display: flex;
                .icon-wrapper {
                    color: var(--grey-color);
                    gap: 8px;
                    p {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 1;
                    }
                    *:not(p) {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 1;
                    }
                    @media (min-width: 1440px){
                        &:not(:last-child) {
                            margin-right: 20px;
                            padding-right: 20px;
                            border-width: 2px;
                        }
                    }
                    &:not(:last-child) {
                        margin-right: 10px;
                        padding-right: 10px;
                        border-right: 1px solid var(--grey-color);
                    }
                }
            }
            .icon-expand {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--light-primary-color);
                border: 1px solid;
                border-radius: 100%;
                color: var(--primary-color);
            }
        }
        .course-detail {
            padding: 0;
            .course-step {
                padding: 16px;
                background-color: var(--white-color);
                .course-steplabel{
                    gap: 16px;
                    align-items: flex-start;
                    padding: 0;
                }
                &:not(:last-child){
                    border-bottom: 1px solid var(--border-color);
                }
                &.Mui-active{
                    background-color: var(--light-primary-color);
                }
                .icon-wrapper{
                    svg {
                        width: 18px;
                        height: auto;
                    }
                }
            }
            .MuiStepLabel-iconContainer {
                margin-top: 7px;
                padding-right: 0;
                svg{
                    width: 22px;
                    height: auto;
                }
            }
            .course-list-inner{
                padding: 0;
            }
            .course-btn-detail {
                margin: 0;
                .MuiTypography-h6 {
                    line-height: 1.5;
                    margin-bottom: 5px;
                    font-size: 16px;
                }
            }
        }
    }
}

.image-wrapper {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.2);
        .play-button {
            background: var(--white-color);
            color: var(--primary-color);
            border-radius: 45px;
            width: 75px;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 30px;
                height: auto;
            }
        }
    }
    img{
        width: 100%;
        display: block;
    }
}
/*Course Detail community block Start*/
.course-community {
    .image-wrapper {
        margin: 12px 12px 0;
    }
    .MuiCardActions-root {
        padding-top: 0 !important;
        border-top: 0 !important;
        .MuiButtonBase-root {
            padding: 0;
            font-size: 16px;
            font-weight: 700;
            line-height: 1;
            .MuiButton-endIcon {
                border: 1px solid;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                rotate: -90deg;
                svg {
                    width: 12px;
                }
            }
        }
    }
    .MuiTypography-root {
        font-size: 16px;
        padding: 16px 12px;
    }
}
/*Course Detail community block End*/

.course-video-content {
    @media (min-width: 1536px){
        margin-top: -153px;
    }
    .MuiTypography-body1{
        font-size: 18px;
    }
    @media (min-width: 1537px){
        .MuiTypography-body1{
            font-size: 20px;
            line-height: 34px;
            letter-spacing: 0.03em;
        }
    }
}

@media (max-width: 600px){
    .course-topics {
        .course-main {
            .course-list-heading {
                .icon-expand{
                    width: 24px;
                    height: 24px;
                }
                h5{
                    font-size: 20px;
                }
                .course-overview{
                    flex-direction: column;
                    gap: 4px;
                    .icon-wrapper{
                        border-right: 0 !important;
                    }
                }
            }
        }
    }
    .course-head-wrapper {
        .course-heading {
            h4{
                margin-block: 16px
            }
        }
    }
    .image-wrapper {
        .image-overlay {
            .play-button {
                width: 45px;
                height: 45px;
                svg{
                    width: 20px;
                }
            }
        }
    }
}
/*Course Survey and Quiz Start*/
.course-main-content{
    .icon-wrapper {
        color: var(--grey-color);
        p {
            font-size: 22px;
            font-weight: 600;
        }
        svg {
            width: 24px;
            height: auto;
        }
    }
    h4 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 24px;
        line-height: 34px;
    }
    .main-wrapper{
        padding: 24px;
        background: var(--white-color);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        .MuiFormLabel-root {
            font-size: 22px;
            color: var(--dark-color);
            font-weight: 600;
            margin-bottom: 16px;
        }
        .MuiFormControlLabel-label {
            font-size: 18px;
            color: var(--dark-color);
        }
        .MuiRadioGroup-root {
            gap: 10px;
        }
        .MuiButton-root {
            align-self: flex-end;
            gap: 5px;
            min-width: 198px;
            border-radius: 12px;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
        }
        .survey-box, .quiz-box {
            flex: 1;
            .survey-form, .quiz-form{
                width: 100%;
            }
        }
    }
    .quiz-content {
        img {
            display: block;
            max-width: 640px;
            width: 100%;
            height: auto;
        }
    }
    .survey-content {
        .survey-stack{
            height: 100%;
        }
        .heading-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid var(--border-color);
            h4 {
                margin-bottom: 0;
            }                              
        }
        &.step-5 {
            .survey-stack{
                align-items: center;
            }
        }
    }
    .quiz-stack{
        height: 100%;
    }
    .quiz-result{
        .quiz-result-head {
            display: flex;
            gap: 16px;
            align-items: center;
            h4 {
                margin-bottom: 0;
            }
            .quiz-wrapper {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 30px;
                color: #9A1C13;
                .quiz-result-pill {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 20px;
                    gap: 10px;
                    background: #FFEFEE;
                    border-radius: 30px;
                    p {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
            .quiz-result-progress {
                p {
                    color: var(--grey-color);
                    line-height: 26px;
                    margin-bottom: 8px;
                }
            }
        }
        .quiz-action-buttons {
            display: flex;
            align-items: center;
            gap: 24px;
            justify-content: flex-end;
        }
        .quiz-answers{
            margin-block: 24px;
            .quiz-qustion-block{
                padding: 16px;
                background-color: #F3F6FF;
                border: 1px solid var(--select-border-color);
                border-radius: 12px;
                &:not(:last-child){
                    margin-bottom: 16px;
                }
                .quiz-option-head{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 16px;
                    h5{
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
                .quiz-option{
                    padding: 14px 16px;
                    background: var(--white-color);
                    border-radius: 12px;
                    font-size: 18px;
                    &:not(:last-child){
                        margin-bottom: 12px;
                    }
                    &.quiz-option-correct{
                        font-weight: 500;
                        color: #166E3F;
                        background: #EDF4F0;
                        border: 1px solid;
                    }
                    &.quiz-option-wrong{
                        font-weight: 500;
                        color: #9A1C13;
                        background: #FFEFEE;
                        border: 1px solid;
                    }
                }
            }
        }
    }
}
/*Course Survey and Quiz End*/
/*Course Detail Page End*/


/*Community Tab Block Start*/
.community-sidebar-grid{
    width: 300px;
    .community-sidebar {
        padding: 16px;
        .sidebar-tab-single {
            justify-content: flex-start;
            padding: 12px;
            gap: 10px;
            font-weight: 400;
            border-radius: 12px;
            font-size: 18px;
            line-height: 1;
            &.Mui-selected, &:hover {
                background-color: var(--light-primary-color);
                color: var(--primary-color);
                font-weight: 600;
            }
            svg {
                width: 26px;
                height: auto;
            }
        }
        .sidebar-tabs {
            background-color: transparent;
        }
    }
}

.sidebar-spaces {
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid var(--border-color);
	h5 {
		font-weight: 700;
		margin-bottom: 16px;
	}
	.space-item {
		display: flex;
		align-items: center;
		padding-block: 16px;
		gap: 10px;
        p{
            font-weight: 500;
        }
		.item-icon {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px;
			width: 36px;
			height: 36px;
			background: var(--dark-color);
			border-radius: 150px;
			color: var(--white-color);
			svg {
				width: 16px;
				height: auto;
			}
		}
		.item-icon-lock {
            display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 20px;
			height: 20px;
			right: -5px;
			bottom: -9px;
			background: var(--white-color);
			border-radius: 100px;
			color: var(--primary-color);
			svg {
				width: 11px;
			}
		}
	}
}

/*Community Card Block Start*/
.my-community{
    flex: 1;
    .my-community-left{
        flex: 1;
    } 
    .my-community-right{
        width: 425px;
    }
    .community-content{
        .community-peoples {
            display: flex;
            justify-content: space-between;
        }
    }
    .MuiButton-root{
        font-weight: 700;
        border-radius: 12px;
        line-height: 1;
        padding: 14px 20px;
    }
    .community-btn {
        border: 0;
        background: var(--primary-color);
        .MuiButton-icon {
            width: 20px;
            margin-left: 10px;
        }
        &:hover{
            background-color: var(--dark-color);
        }
    }
}
.my-community-left{
    .community-card-main{
        padding: 16px;
        margin-bottom: 16px;
        .community-card-media {
            position: relative;
            height: 290px;
            overflow: hidden;
            border-radius: 16px;
            margin-bottom: 16px;

            img{
                height: 100%;
                object-fit: cover;
            }
            .close-icon {
                position: absolute;
                top: 16px;
                right: 16px;
                width: 30px;
                height: 30px;
                background: var(--dark-color);
                color: var(--white-color);
                border-radius: 100%;
                svg{
                    width: 100%;
                    height: auto;
                }
            }
            .community-card-media-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(0,0,0,0.37);
            }
        }
        h5{
            font-weight: 600;
        }
        p{
            margin-bottom: 16px;
            font-size: 18px;
        }
        .MuiAvatarGroup-root {
            justify-content: flex-end;
        }
    }
    .post {
        padding: 16px;
        &:not(:last-child){
            margin-bottom: 16px;
        }
        .post-wrapper {
            display: flex;
            gap: 16px;
        }
        .create-post-stack {
            flex: 1;
            gap: 16px;
        }

        .create-post-action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 8px;
        }

        .create-post-icons {
            display: flex;
            align-items: center;
            gap: 22px;
            color: var(--grey-color);
            .MuiButton-root{
                padding: 0;
                color: var(--grey-color);
                line-height: 1;
                font-size: 16px;
                font-weight: 700;
            }
            .reply-btn{
                color: var(--primary-color);
            }
        }

        .MuiFormLabel-root {
            font-size: 18px;
            font-weight: 600;
            color: var(--dark-color);
            line-height: 20px;
            margin-block: 8px 16px;
        }

        .MuiAvatar-root {
            width: 45px;
            height: 45px;
            font-size: 16px;
            font-weight: 700;
            border: 0;
            background: #CDDBFF;
        }
    }
}

/*Community Card Block End*/

/*Community Tab Block End*/